.box {
    background-color: antiquewhite;
    width: 100px;
    height: 200px;
    background-image: url(https://mdn.github.io/css-examples/learn/backgrounds-borders/star.png);
    background-repeat: no-repeat;
    background-size: 5px 2em;
    background-position: top center;
    overflow: scroll;
}

.box2 {
    writing-mode: horizontal-tb;
}

.myform {
    border: 2px solid #000;
    padding: 5px;
    box-sizing: content-box;
  
  }

#fldSearch {
    padding: 10px;
    font-size: 10px;
  }

 input[name="btnSubmit"] {
    background-color: blueviolet;
    padding: 12px;
    border-radius: 5px;
    border: none;
    color: aliceblue;
 }